header {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 h1 {
     color: $titleColor;
    &:hover {
    color : $titleHoverColor;
} 
&::after {
    content: 'test';
}
 }
  
 p {
    font-family: $basicFont;
}
}
 